#container {
  max-width: 1020px;
  margin: 0 auto 0 auto;
}
h1 {
  text-align: center;
  margin: 0;
}
p {
  color: #1c1c1c;
}
#banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
}
h2 {
  text-align: center;
  color: #dc9170;
}
h4 {
  margin: 0;
  color: #555;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
