<!DOCTYPE html>
<html>
  <head>
    <title>Careers</title>
  </head>
  <body>
    <h1>Zugzwang-Careers</h1>
    <img src="" alt="">
    <p>
      We believe that every individual deserves the chance to shine in their
      chosen career. That's why we provide you with a user-friendly, intuitive
      platform that is designed to make your job search and career development
      as smooth as possible. Our mission is to empower you to achieve your
      professional aspirations, and we're here to make that happen.
    </p>
  </body>
</html>
